{% if error_training is not none %}
<font color="red">{{error_training}}</font><br>
{% endif %}

		<p>
		    <form action="/train" method="POST">
		    <div style="overflow-x:auto;">
		        <table id="tableSelect" class="table table-hover">
		            <thead>
                      <tr>
		                <th>Model name</th>
		                <th>Status</th>
		                <th>Current accuracy (%)</th>
		                <th>Epochs for accuracy</th>
		                <th>Best accuracy (%)</th>
		                <th>Epochs for best accuracy</th>
                      </tr>
                    </thead>
			        {% for n in networks %}
			        <tr>
			        <td>
				        <input type="radio" 
				        {% if networks.index(n) == 0 %} checked {% endif %} name="network" id="{{n}}" required
					        value="{{n}}"/> {{n}}
			        </td>
			        <td>{% if n.trained %}Trained with {{n.method_initialized}}{% else %}Not trained{% endif %}</td>
			        <td>{{n.accuracy * 100}}</td>
			        <td>{{n.epochs_for_accuracy}}</td>
			        <td>{% if n.best_accuracy != "N/A" %}{{n.best_accuracy * 100}}{%else%}N/A{%endif%}</td>
			        <td>{{n.epochs_for_best_accuracy}}</td>
			        </tr>
			        {% endfor %}
		        </table>
		        </div>
		        <br>
		        <!--{% for c in networks_characteristics %}
		            <label>
			            <img src="{{ url_for('static',filename=c[1])}}" height="{{c[2]}}" width="{{c[3]}}"/>
			            <input type="radio" name="method" {% if loop.index0==0 %}checked{% endif %} id="{{c[0]}}" required value="{{c[0]}}"/> {{c[0]}} 
		            </label><br>
		        {% endfor %}-->
		        <table id="tableSelect" class="table table-hover">
		            <thead>
                      <tr>
                        <th>Model</th>
                        <th>Parameters</th>
                      </tr>
                    </thead>
		            <tr>
		                <td>
			                    <img src="{{ url_for('static',filename='img/logistic.png')}}" height="66" width="100"/>
			                    <input type="radio" name="method" checked id="Logistic regression" required value="Logistic regression"/> Logistic regression
		                </td>
		                <td>
		                    Number of epochs <input type="number" value="10" required name="epochsLogistic"><br>
		                </td>
		            </tr>
		            <tr>
		                <td>
			                    <img src="{{ url_for('static',filename='img/knn.png')}}" height="100" width="100"/>
			                    <input type="radio" name="method" id="K-nearest neighbors" required value="K-nearest neighbors"/> K-nearest neighbors
		                </td>
		                <td>
		                    Value of K <input type="number" value="1" required name="k">
		                </td>
		            </tr>
		            <tr>
		                <td>
			                    <img src="{{ url_for('static',filename='img/multilayer.png')}}" height="66" width="100"/>
			                    <input type="radio" name="method" id="8-layer perceptron" required value="Multilayer perceptron"/> Multilayer perceptron
		                </td>
		                <td>
		                    Learning rate <input type="number" step="0.0001" value="0.001" required name="learningRate"><br>
		                    Number of epochs <input type="number" value="10" required name="epochsMultilayer"><br>
		                    Number of hidden layers <input type="number" value="10" min="1" required name="layers"><br>
		                </td>
		            </tr>
		        </table><br>
		        <input type="checkbox" name="100" value="100" checked>Stop if 100% accuracy is reached when testing<br>
			    <input type="submit" name="btn" value="Train"/>
			    <input type="submit" name="btn" value="Reset"/>
			    <input type="submit" name="btn" value="Delete"/>
		    </form>
		    <p>
		{% for n in networks if not n.in_training %}
		{% else %}
		    <h2>Model(s) in training</h2>
		{% endfor %}
		<p>
		{% for n in networks if n.in_training %}
			<h3>{{n}}</h3><br>
		{% endfor %}
	<br>
